#page-local-fuzzylogic-assesstgraphs .graph-container,
#page-local-fuzzylogic-assesstgraphs .entriesgraph-container{
	box-sizing: border-box;
	width: 620px;
	height: 700px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

#page-local-fuzzylogic-assesstgraphs .graph-container .graph-placeholder,
#page-local-fuzzylogic-assesstgraphs .entriesgraph-container .entriesgraph-placeholder{
	float:left; 
	width:600px; 
	height:600px
}

#page-local-fuzzylogic-assesstgraphs #choices{
	float:right; 
	width:600px;
	margin: 5px auto 10px auto;
}

#page-local-fuzzylogic-criteriarule pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
